<%- include("./partials/header")%>
<%- include("./partials/nav")%>

<div class="flex flex-col items-center justify-center">
  <h1 class="text-2xl font-semibold py-10">Contect US</h1>
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At consectetur aliquam, voluptatibus accusamus voluptate sed facere eaque nulla nobis necessitatibus.</p>
  </div>
</div>

<%- include("./partials/footer")%>